@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

:root {
  /* ---HSL Index--- */
  --Clr-Heading: 252, 76%, 22%;
  --Clr-Text: 241, 47%, 15%;
  --Act-Secondary: 249, 80%, 54%;
  --Clr-Grey: 249, 8%, 92%;
  --Clr-White: 0, 0%, 100%;
  /* ---Color Define--- */
  --Colors-Heading: hsl(var(--Clr-Heading));
  --Colors-Text: hsl(var(--Clr-Text));
  --Action-Secondary: hsl(var(--Act-Secondary));
  --Colors-Grey: hsl(--Clr-Grey);
  --Colors-White: hsl(var(--Clr-White));
  /* ---Font Weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --400: var(--fw-regular);
  --500: var(--fw-medium);
  --700: var(--fw-bold);
  /* ---Font Size */
  --fs-title: 2.625rem;
  --fs-title-info: 1.125rem;
  --fs-default: 1rem;

  --line-height: 26px;

  --b-r: 10px;
  --b-r-btn: 100px;

}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  max-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}


.grid-flow {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
}

.grid-item-1 {
  height: 100vh;
  overflow: hidden;
}

.grid-item-1 img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.grid-item-2 {
  grid-column: span 2;
  padding: 100px 260px 0 130px;
}

.flex-content {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-header {
  margin-bottom: 50px;
}

.flex-header h1 {
  font-size: var(--fs-title);
  font-weight: var(--700);
  color: var(--Colors-Heading);
  display: inline-block;
  text-align: end;
  line-height: 52px;
  margin-bottom: 14px;
}

.flex-header p {
  font-size: var(--fs-default);
  font-weight: var(--400);
  line-height: var(--line-height);
  color: hsl(var(--Clr-Text), .4);
}

.flex-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--b-r);
}


.flex-item img {
  width: 230px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--b-r);
}

.info-item {
  height: 180px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-title {
  display: flex;
  justify-content: space-between;
  font-weight: var(--700);
  font-size: var(--fs-title-info);
  letter-spacing: 2px;
  color: var(--Colors-Heading);
}

.price {
  color: hsl(var(--Clr-Text), .4);
  font-weight: var(--500);
}

.info-item p {
  font-size: var(--fs-default);
  font-weight: var(--400);
  color: hsl(var(--Clr-Text), .4);
  line-height: var(--line-height);
}

.info-btn {
  height: 40px;
  display: flex;
}

.btn-1 {
  width: 100px ;
  margin-right: 10px;
  border-radius: var(--b-r-btn);
  border: none;
  background-color: var(--Action-Secondary);
  color: var(--Colors-White);
  font-size: var(--fs-default);
  font-weight: var(--500);
}

.btn-2 {
  width: 100px ;
  border-radius: var(--b-r-btn);
  color: lightgrey;
  background-color: rgba(255, 255, 255, 0);
  border: solid 2px hsl(var(--Clr-Grey));
  font-size: var(--fs-default);
  font-weight: var(--500);
}

@media only screen and (max-width: 850px) {
  .grid-flow {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }

  .grid-item-1 {
    height: 35vh;
    overflow: hidden;
  }

  .grid-item-1 img {
    height: 100%;
    object-fit: cover;
    object-position: 50% 35%;
  }

  .grid-item-2 {
    padding: 25px
  }

  .flex-content {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .flex-header {
    margin-bottom: 20px;
  }
  
  .flex-header h1 {
    font-size: 1.8rem;
    font-weight: var(--700);
    color: var(--Colors-Heading);
    display: inline-block;
    text-align: left;
  }

  .flex-header p {
    font-size: var(--fs-default);
    font-weight: var(--400);
    line-height: 20px;
    color: hsl(var(--Clr-Text), .4);
  }

  .flex-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-item img {
    width: 250px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--b-r);
  }

  .info-item {
    height: 120px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .info-title {
    display: flex;
    justify-content: space-between;
    font-weight: var(--700);
    font-size: .7rem;
    color: var(--Colors-Heading);
  }

  .info-item p {
    font-size: 12px;
    font-weight: var(--400);
    color: hsl(var(--Clr-Text), .4);
    line-height: 20px;
  }

  .info-btn {
    height: 30px;
    display: flex;
  }

  .btn-1 {
    width: 75px ;
    margin-right: 10px;
    border-radius: var(--b-r-btn);
    border: none;
    background-color: var(--Action-Secondary);
    color: var(--Colors-White);
    font-size: .8rem;
    font-weight: var(--500);
  }
  
  .btn-2 {
    width: 75px ;
    border-radius: var(--b-r-btn);
    color: lightgrey;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px hsl(var(--Clr-Grey));
    font-size: .8rem;
    font-weight: var(--500);
  }
}


